.AuthMainWindow {
  display: flex;
  flex-direction: column;
  border: 2px black solid;
  margin: 50px 10px 0 10px;
  max-width: 80%;
  border-radius: 10px;
  background-color: #gray;
}

.AuthMainWindow form {
  display: flex;
  flex-direction: column;
  margin: 20px;
  color: black;
  max-width: 90%;
}

.AuthMainWindow input {
  display: flex;
  justify-content: center;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-top: 10px;
  border-radius: 10px;
  font-size: 15px;
  max-width: 90%;
  color: black;
}

.register {
  display: flex;
  justify-content: center;
  align-items: center;
}